.contents{
    background-color: white;
    min-height: 500px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #E1E1EA;
}


.slideContainer {
    font-family: Tahoma;
    font-weight: normal;
    width: calc(100%-20px);
    min-height: 400px;
    color: #3e3e3e;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #E1E1EA;
    border-radius: 6px;
    opacity: 1;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
  }

  .slideHeader {
    height: 60px;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
  }

  .header-text {
    font: var(--unnamed-font-style-normal) normal bold 24px/33px Arial;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 24px/33px Arial;
    letter-spacing: 0px;
  }

  .footer-text {
    font: var(--unnamed-font-style-normal) normal bold 24px/33px Arial;
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 24px/33px Arial;
    letter-spacing: 0px;
  }

  .slideBody {
    /* height: 370px; */
    padding: 10px;
    width: 100%;
    border-top: 2px dashed #BCC4CB;
    border-bottom: 2px dashed #BCC4CB;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
  }

  .slideFooter {
    height: 60px;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
  }

  .widget{
    flex-grow: 1;
    min-width: calc(100%/3);
    justify-content: center;
    display: flex;
    align-items: center;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 10px;
  }

  .widget.selected{
    background: #B5D9D9 0% 0% no-repeat padding-box;
    color: #495057;
  }