<div class="form-container">
  <div *ngFor="let input of inputPara">
    <div class="form-group">
      <label [for]='input.name'>{{input.title}}</label>
      <input [type]='input.type'
             class="form-control"
             [name]='input.name'
             [placeholder]='input.placeholder'
             [(ngModel)]='input.value'>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onClickGenerate()">Generate</button>
</div>
  <!--<div class="form-container">
    <div>
      <div class="form-group">
        <label for="client">Account Name:</label>
        <input type="text" class="form-control" placeholder="Account Name:" id="client"
               [(ngModel)]="clientName">
      </div>
      <div class="form-group">
        <label for="stDate">Start Date:</label>
        <input type="date" class="form-control" id="stDate"
               placeholder="mm-dd-yyyy" value=""
               min="1997-01-01" max="2030-12-31"
               [(ngModel)]="stDate">
      </div>
      <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate"
               placeholder="mm-dd-yyyy" value=""
               min="1997-01-01" max="2030-12-31"
               [(ngModel)]="enDate">
      </div>
      <div class="form-group">
        <label for="frequency">Frequency:</label>
        <input type="text" class="form-control" placeholder="Frequency:" id="frequency"
               [(ngModel)]="frequency">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onClickGenerate()">Generate</button>
    </div>
  </div>-->
