<div class="parameter-section">
  <div class='para-heading'>Parameters</div>
  <div *ngIf="widgetParams">
    <div *ngFor="let input of widgetParams">
      <label [for]='input.parameterName' class="para-lbl">{{input.name}}</label>
      <input #inputControl [type]='getControlType(input.type)'
             class="para-text"
             [name]='input.parameterName'
             [(ngModel)]='input.parameterVal'
             (change)="fileAdded(input, inputControl.files)"
             >
    </div>
  </div>
</div>
