<div>
  <h1>Dashboard</h1>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>TITLE</th>
        <th>TEMPLATE</th>
        <th>DATE</th>
        <th>MANAGE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.title }}</td>
        <td>{{ item.template }}</td>
        <td>{{ item.date }}</td>
        <td>
          <!-- {{tempVar}} -->
          <a href="#">Download</a> &nbsp;
          <a href="#">Edit</a> &nbsp;
          <a href="#">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
