<div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-8"><h5>Dashboard</h5></div>
        <div class="col-md-4" style="text-align: right;"><button class="btn DocGen-btn-primary" (click)="CreatePPTClick()">CREATE PPT</button></div>
    </div>
    <div>
        <!-- Document history -->
        <table class="DocGen-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Template</th>
                    <th>Date</th>
                    <th>Manage</th>
                </tr>
                <tr>
                    <td colspan="4" style="height: 10px; background-color: white;opacity: 0;"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Benchmark Return</td>
                    <td>Template with Tableau widget</td>
                    <td>1/7/2021</td>
                    <td><a href="#">Download</a>&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>Annual Report - ABC</td>
                    <td>Template with Excel widget</td>
                    <td>1/2/2021</td>
                    <td><a href="#">Download</a>&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>Annual Report - XYZ</td>
                    <td>Template with Excel and Tableau widget</td>
                    <td>1/7/2021</td>
                    <td><a href="#">Download</a>&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
