<div id="slideComponent" class="slideContainer">
  <section class="slideHeader">    
    <div class="widgetDefultText" (click)="onSelectWidgetByName('Header')"> Enter Header </div>
  </section>
  <section class="slideBody">
    <div *ngFor="let item of contentWidgets" class="widget" (click)="onSelectWidget(item)" [class.selected]="item === selectedWidget">
      <span class="widgetDefultText ">{{item.name}}</span>
    </div>
  </section>
  <section class="slideFooter widgetDefultText">
    <div class="defaultHeader" (click)="onSelectWidgetByName('Footer')">Enter Footer</div>
  </section>
</div>
