<div class="row" style="margin-top:10px">
  <div class="col-md-12">
    <span>Books (7)</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-success">(3)Pending</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-primary">(4)Approved</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
 </div>
<div class="row" style="margin-top:20px">
  <div class="col-md-12">
    <table id="tblCommon">
      <tr>        
        <th>Book Name</th>
        <th>Status</th>
        <th>Deal Type</th>
        <th>Created On</th>
      </tr>
      <tr *ngFor="let book of bookData; let i = index">        
        <td>{{book.dealName}}</td>
        <td>{{book.status}}</td>
        <td>{{book.dealType}}</td>
        <td>{{book.commitmentDate}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-12" style="margin-top:20px">
    <a [routerLink]="['/apptemplate']" [queryParams]="{ id: 1 }">Benchmark Return - Bar Chart</a>&nbsp;&nbsp; |
    &nbsp;&nbsp;<a [routerLink]="['/apptemplate']" [queryParams]="{ id: 2 }">Benchmark Return - Donut Chart</a>
  </div>
</div>
